*{
    box-sizing: border-box;
    margin: 0px;

}
header{
    width: 100%;
    margin-bottom: 1%;
}
#cabecalho{
    color:aliceblue;
    padding-inline: 10px;
    font-family: verdana;
    font-weight: bold;
    font-size: 20px;
    
}
h1{
    background-color: white;
    max-width: max-content;
    padding-inline: 10px;
    border-radius: 0.3cm;
}
#conteudo-inicial{
    position: relative;
    font-size: 18px;
    font-family: arial;
    width: 100%;
    height: 100%;
    margin-bottom: 1%;
    
    
}
.content-bandas{
    background-color: white;
    padding-inline: 10px;
    width: 50%;
    max-width: max-content;
    display: inline-block;



}
#side-content{
    background-color: black;
    max-width: max-content;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
}
.side-title{
    background: gray;
    padding: 10px;
}
#cabecalho-sobre{
    color: white;
    background-color: black;
    border-radius: 0.2cm;
    max-width: max-content;
    padding-inline: 10px;
    font-family: verdana;
    font-weight: bold;
    font-size: 20px;
}
.conteudo-about{
    background-color: white;
    padding-inline: 20px;
    font-size: 18px;
    font-family: arial;
    border-radius: 0.5cm;
    position: relative;
    
}
.imagens-bandas{
    position: relative;
    width: 70%;
}
#fundo{
    background-color:black;
    width: min-content;
}
#cabecalho-banda{
    background-color: none;
    border-radius: 0.2cm;
    max-width: max-content;
    padding-inline: 10px;
    font-family: verdana;
    font-weight: bold;
    font-size: 20px;
}
h2{
    padding-inline: 20px;
}
footer{
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
}
a:link{
    color: white;
}
a:visited{
    color: white;
}
a:hover{
    background-color: rgb(78, 78, 78);
}

li{
    background-color: rgba(255, 255, 255, 0.884);
    padding: 2px;
    margin: 5px;
}
li:hover{
    background-color: black;
    color: white;
}